body{
  background-color:  #FFC72C;
}

img.logo {
    width: 7%;
}
.nav {
    background-color: #264f36 ;
    border-radius: 0.5rem;
    display: flex;
}
button.connexion {
    height: 10%;
    margin-top: 3rem;
    margin-left: 80%;
    background-color: #264f36;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #fff;
}
.btnBurger {
    border: none;
    background-color: #264f36;
    padding: 1.5rem 1rem;
    margin-left: 8%;
    color: #fff;
}
.btnBurger:hover {
    color: yellow;

}

.boutton-burger {
    background-color: #264f36;
    margin-top: 2rem;
}


/****** css sur panier a doite*/
.cart-panel {
  position: absolute;
  top: 25%;
  right: 0;
  width: 300px;
  height: auto;
  background-color: #f9f9f9;
  border-left: 1px solid #ddd;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  .cart-panel h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  section h2 {
    text-align: center;
    background-color: #264f36;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #fff;
}

  .cart-item {
    margin: 10px 0;
  }
  #totalPrice {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
  }
  .cart-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  button#cancel {
    background-color: #264f36;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

button#validate {
    background-color: #ffbc0d;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

.delet {
  padding: 0.2rem 0.5rem;
  background-color: #264f36;
  color: #fff;
  border-radius: 10px; /* Arrondi */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Animation fluide */
}

.delet:hover {
  background-color: red;
}


#carousel{
  height: 70vh;
  width: 40vw;
  margin-left: 7%;
}

.pub2{
  width: 20vw;
}

