* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
        background-image: url(image-mc-do/wp1919500.jpg);
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
        height: 100vh;
        background-position: right;
    }

#primaryBtn {
    position: absolute;
    top: 50%;
    left: 36%;
    padding: 2rem 3rem;
    border-radius: 1rem;
    background-color: #264f36;
    font-size: larger;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}
.logo {
    width: 100px;
    margin-left: 8%;
    margin-top: 1%;
}

#primaryBtn:hover {
    background-color: #6d6d6d;
}

.boutton-co {
    margin-left: 4rem;
    margin-top: 17rem;
}


.boutton-in {
    margin-left: 10rem;
    margin-top: 5rem;
}

button.btn {
    background-color: #264f36;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #fff;
    margin-top: 5%;
    margin-left: 1%;
}

.delet {
    padding: 0.2rem 0.5rem;
    background-color: #264f36;
    color: #fff;
    border-radius: 10px; /* Arrondi */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animation fluide */
}

.delet:hover {
    background-color: red;
}


